@font-face {
  font-family: 'TerminatorCyr4-Semi-expandedBold';
  src: url('TerminatorCyr4-Semi-expandedBold.eot') format('embedded-opentype'),
       url('TerminatorCyr4-Semi-expandedBold.woff') format ('woff'),
      url('TerminatorCyr4-Semi-expandedBold.ttf') format ('truetype');
    
  font-weight: normal;
  font-style: normal;